@font-face {
  font-family: "Inter-Regular";
  src: url(/fonts/Inter-Regular.otf); }

.register-form-group .submit-button, .logIn-form-group .submit-button, .logIn-button, .signIn-button {
  background: #B24C67;
  border-radius: 5px;
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 600;
  line-height: 46px;
  color: #FFFFFF;
  letter-spacing: -0.68px;
  border: none;
  text-decoration: none; }

header {
  background-color: #1E1B3A;
  overflow: hidden; }

.main-header {
  height: 100%;
  position: relative; }
  .main-header .header-back {
    position: absolute;
    right: -250px;
    bottom: 0px; }
  .main-header .header-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
    margin-left: 0px;
    margin-right: 0px; }
    .main-header .header-navigation .lang-switch {
      padding-top: 4px;
      font-family: "Inter-Regular";
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.33px;
      color: #77EEDF; }

.header-blocks .header-leftBlock {
  margin-right: 95px;
  padding-top: 150px; }

.header-blocks .header-title {
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 120%;
  padding-right: 50px;
  color: #FFFFFF; }

.header-blocks .header-line {
  margin-top: 16px;
  background: linear-gradient(90deg, #63CFCA 0%, #C52D51 102.37%);
  width: 270px;
  height: 8px; }

.header-blocks .header-description {
  margin-top: 67px;
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF; }

.header-scroll {
  margin-top: 203px;
  margin-bottom: 98px; }

.header-rightBlock {
  position: relative;
  padding-bottom: 500px;
  margin-top: 50px; }

form {
  position: relative; }

.register-form-group, .logIn-form-group {
  left: 0px;
  right: 38px;
  top: 32px;
  bottom: 0px;
  background: #FFFFFF;
  border-radius: 45px;
  flex-direction: column;
  z-index: 50;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 29px;
  padding-bottom: 0px;
  font-size: 18px; }
  .register-form-group .form-name, .logIn-form-group .form-name {
    font-family: "Inter-Regular";
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: -1.34px;
    color: #3D3D3D; }
  .register-form-group option, .logIn-form-group option {
    font-family: "Inter-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #757575; }
  .register-form-group .form-username, .logIn-form-group .form-username {
    margin-top: 25px; }
  .register-form-group .form-community, .logIn-form-group .form-community {
    margin-top: 35px;
    width: 328px;
    border-bottom: 1px solid #DDDBDE;
    text-decoration: none;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: "Inter-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #757575 !important; }
  .register-form-group .community-text, .logIn-form-group .community-text {
    padding-top: 10px;
    font-family: "Inter-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.33px;
    color: #757575; }
  .register-form-group .form-email, .logIn-form-group .form-email {
    margin-top: 33px; }
  .register-form-group .form-password, .logIn-form-group .form-password {
    margin-top: 33px; }
  .register-form-group #form-terms, .logIn-form-group #form-terms {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 5px;
    border: none;
    text-decoration: none;
    background-color: inherit;
    font-size: 16px; }
  .register-form-group .terms-blue, .logIn-form-group .terms-blue {
    color: #65CDC9; }
  .register-form-group .submit-button, .logIn-form-group .submit-button {
    border: none;
    outline: none;
    margin-top: 19px;
    width: 328px;
    height: 48px;
    font-size: 18px; }
  .register-form-group .register-question, .logIn-form-group .register-question {
    padding-top: 32px;
    font-size: 16px;
    text-decoration: none;
    transition: all, ease, 0.01ms;
    color: #757575; }
  .register-form-group .register-question:hover, .logIn-form-group .register-question:hover {
    text-decoration: none;
    color: #757575; }
  .register-form-group #signInForm, .logIn-form-group #signInForm {
    display: none; }
  .register-form-group .signIn-button, .logIn-form-group .signIn-button {
    margin-top: 17px;
    border: none;
    outline: none;
    font-family: "Inter-Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.68px;
    color: #757575;
    padding: 7px 30px;
    text-decoration: none;
    border: none;
    background-color: #ffffff;
    border: 1px solid #DDDBDE;
    border-radius: 5px; }
  .register-form-group #form-signIn, .logIn-form-group #form-signIn {
    display: flex;
    justify-content: space-between;
    flex-direction: row; }

.form-wrapper {
  position: absolute;
  left: 38px;
  right: 0px;
  top: 0px;
  bottom: 48px;
  background: linear-gradient(90deg, #63CFCA 24.26%, #C52D51 102.37%);
  border-radius: 45px;
  width: 400px;
  height: 650px; }

.form-container {
  position: absolute;
  left: 0px;
  right: 38px;
  top: 32px;
  bottom: 0px;
  background: #FFFFFF;
  border-radius: 45px;
  height: 650px;
  width: 400px;
  padding-bottom: 60px; }

textarea:focus, input:focus {
  outline: none; }

input:active {
  background-color: #ffffff; }

input {
  border-bottom: 1px solid #DDDBDE;
  text-decoration: none;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 328px;
  padding-bottom: 6px; }

.form-terms-text {
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #757575;
  display: flex;
  flex-direction: row; }

#terms {
  padding-top: 17px; }

.close-button {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 370px;
  top: -8px;
  font-size: 16px;
  background: #FFFFFF;
  border-radius: 50px;
  text-decoration: none;
  border: none; }

/*logIn-form*/
.logIn-form-group {
  left: 0px;
  right: 38px;
  top: 32px;
  bottom: 0px;
  background: #FFFFFF;
  border-radius: 45px;
  flex-direction: column;
  z-index: 50;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 29px;
  padding-bottom: 0px; }

.form-rememberMe {
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #757575; }

#form-remember {
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 5px;
  border: none;
  text-decoration: none;
  background-color: inherit; }

.logIn-button {
  margin-top: 31px;
  width: 134px;
  height: 48px;
  font-size: 18px; }

.register-button {
  margin-top: 31px;
  height: 48px;
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  letter-spacing: -0.68px;
  color: #757575;
  border: none;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #DDDBDE;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px; }

#form-logIn {
  display: flex;
  justify-content: space-between; }

.form-wrapper-logIn {
  position: absolute;
  left: 38px;
  right: 0px;
  top: 0px;
  bottom: 48px;
  background: linear-gradient(90deg, #63CFCA 24.26%, #C52D51 102.37%);
  border-radius: 45px;
  width: 400px;
  height: 390px; }

.form-container-logIn {
  position: absolute;
  left: 0px;
  right: 38px;
  top: 32px;
  bottom: 0px;
  background: #FFFFFF;
  border-radius: 45px;
  height: 390px;
  width: 400px; }

.form-name-logIn {
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -1.34px;
  color: #3D3D3D; }

#verificationForm {
  display: none; }

.form-wrapper-verification {
  position: absolute;
  left: 38px;
  right: 0px;
  top: 0px;
  bottom: 48px;
  background: linear-gradient(90deg, #63CFCA 24.26%, #C52D51 102.37%);
  border-radius: 45px;
  width: 400px;
  height: 350px; }

.form-container-verification {
  position: absolute;
  left: 0px;
  right: 38px;
  top: 32px;
  bottom: 0px;
  background: #FFFFFF;
  border-radius: 45px;
  height: 350px;
  width: 400px;
  padding-bottom: 60px; }

.register-form-group .verification-text {
  margin-top: 20px;
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #757575; }

.register-form-group .verification-question {
  margin-top: 20px;
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 46px;
  letter-spacing: -0.68px;
  color: #757575; }

.register-form-group #send-again {
  color: #65CDC9;
  text-decoration: none; }

.register-form-group .goHome-button {
  margin-top: 25px;
  margin-bottom: 30px;
  border: none;
  text-decoration: none;
  outline: none;
  width: 174px;
  height: 48px;
  background: #65CDC9;
  border-radius: 5px;
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 46px;
  text-align: center;
  letter-spacing: -0.68px;
  color: #FFFFFF; }

#signInForm {
  display: none; }

.select-box {
  display: flex;
  width: 100%;
  flex-direction: column; }

.selected {
  order: 0;
  position: relative;
  margin-bottom: 3px;
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #757575; }

.selected::after {
  margin-top: 5px;
  content: " ";
  background: url("/img/select-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 20px;
  right: 0px;
  transition: all, 0.4s; }

.select-box {
  padding-top: 40px;
  padding-bottom: 8px;
  border-bottom: 1px solid #DDDBDE; }
  .select-box .options-container {
    background-color: #ffffff;
    max-height: 0px;
    width: 100%;
    opacity: 0;
    border-radius: 8px;
    overflow: hidden;
    transition: all, 0.4s;
    order: 1; }
  .select-box .options-container::-webkit-scrollbar {
    width: 10px;
    height: 223px;
    background: #F5F5F5;
    border-radius: 6px; }
  .select-box .options-container::-webkit-scrollbar-thumb {
    width: 10px;
    height: 5px;
    background: #65CDC9;
    border-radius: 6px; }
  .select-box .option {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    color: #3D3D3D;
    cursor: pointer; }
  .select-box .option:hover {
    background-color: #63CFCA; }
  .select-box label {
    cursor: pointer; }
  .select-box .select-item {
    display: none; }
  .select-box .active {
    max-height: 296px;
    opacity: 1;
    overflow-y: scroll; }
  .select-box .active + .selected::after {
    transform: rotateX(180deg);
    margin-top: -13px; }

.statistics-section {
  background: #ffffff; }

.statistics-blocks {
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: normal; }
  .statistics-blocks .statistics-leftBlock {
    padding-top: 155px;
    padding-bottom: 201px;
    padding-right: 84px; }
    .statistics-blocks .statistics-leftBlock .statistics-title {
      font-size: 24px;
      line-height: 36px;
      color: #000000; }
    .statistics-blocks .statistics-leftBlock .statistics-line {
      margin-top: 20px;
      background: linear-gradient(90deg, #63CFCA 0%, #C52D51 102.37%);
      width: 148px;
      height: 3px; }
    .statistics-blocks .statistics-leftBlock .statistics-description {
      padding-top: 25px;
      font-size: 18px;
      line-height: 32px;
      color: #000000; }
    .statistics-blocks .statistics-leftBlock .arrow-right {
      margin-left: 30px; }

.statistics-rightBlock {
  padding-top: 112px;
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 500; }
  .statistics-rightBlock .statistics-row1, .statistics-rightBlock .statistics-row2, .statistics-rightBlock .statistics-row3 {
    display: flex;
    border-bottom: 1px solid #DDDBDE;
    border-top: 1px solid #DDDBDE; }
  .statistics-rightBlock .item {
    width: 315px;
    height: 168px; }
  .statistics-rightBlock .item-two, .statistics-rightBlock .item-four, .statistics-rightBlock .item-six {
    padding-left: 30px;
    border-left: 1px solid #DDDBDE; }
  .statistics-rightBlock .number-plus {
    font-size: 18px;
    color: #51CE6C; }
  .statistics-rightBlock .item-number {
    padding-top: 26px;
    font-weight: bold;
    font-size: 48px;
    color: #3D3D3D; }
  .statistics-rightBlock .item-subtitle {
    font-size: 16px;
    color: #3D3D3D; }
  .statistics-rightBlock .item-title {
    padding-top: 15px;
    font-size: 14px;
    color: #757575; }
  .statistics-rightBlock .date-number, .statistics-rightBlock .elections-number {
    margin-top: -32px; }
  .statistics-rightBlock .elections-day, .statistics-rightBlock .elections-hour, .statistics-rightBlock .elections-minute, .statistics-rightBlock .elections-second {
    margin-right: 17px; }

.statistics-description-more {
  display: none;
  font-size: 18px;
  line-height: 32px;
  color: #000000; }

.statistics-more {
  outline: none !important;
  border: none;
  padding: 0px;
  text-decoration: none;
  background-color: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 38px;
  color: #65CDC9 !important;
  border-bottom: 1.5px dashed #65CDC9;
  text-decoration: none;
  transition: all, ease, 0.01ms; }

.statistics-more:hover {
  text-decoration: none;
  color: #65CDC9 !important; }

.statistics-less {
  border: none;
  outline: none !important;
  padding: 0px;
  text-decoration: none;
  background-color: inherit;
  font-weight: 600;
  font-size: 18px;
  line-height: 38px;
  color: #65CDC9;
  border-bottom: 1.5px dashed #65CDC9;
  text-decoration: none;
  transition: all, ease, 0.01ms;
  display: none; }

.statistics-less:hover {
  text-decoration: none;
  color: #65CDC9 !important; }

.arrowDown-icon {
  border: none !important; }

.map-section {
  background-color: #ffffff;
  position: relative; }

#mapid {
  height: 1220px;
  width: 100%; }

.rating-block {
  padding-left: 43px;
  padding-right: 43px;
  padding-top: 33px;
  position: absolute;
  width: 432px;
  height: fit-content;
  top: 88px;
  right: 103px;
  z-index: 51;
  background: #FEFFFF;
  box-shadow: 0px 10px 33px rgba(0, 0, 0, 0.13);
  border-radius: 25px; }
  .rating-block .rating-title {
    font-family: "Inter-Regular";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -1.34px;
    color: #3D3D3D; }
  .rating-block .switch-rating {
    display: flex;
    padding-top: 32px;
    font-family: "Inter-Regular";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: -0.33px; }
    .rating-block .switch-rating .ratingButton-active {
      text-decoration: none;
      border: none;
      outline: none;
      border-radius: 5px 0px 0px 5px;
      width: 176px;
      height: 48px;
      background: #65CDC9;
      color: #FFFFFF;
      border: none; }
    .rating-block .switch-rating .ratingButton {
      border: none;
      outline: none;
      border-radius: 0px 5px 5px 0px;
      text-decoration: none;
      width: 176px;
      height: 48px;
      background: #FEFFFF;
      box-sizing: border-box;
      color: #757575;
      border: 1px solid #DDDBDE; }

.rating-items {
  padding-left: 0px;
  padding-top: 38px; }
  .rating-items .ratingItem {
    display: flex;
    flex-direction: row;
    padding-bottom: 23px; }
  .rating-items .rating-number {
    padding-right: 30px;
    font-family: "Inter-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 34px;
    letter-spacing: -0.33px;
    color: #3D3D3D; }
  .rating-items .rating-img {
    padding-right: 21px; }
  .rating-items #danyloHalytska {
    padding-left: 12px; }
  .rating-items .ratingItem-title {
    font-family: "Inter-Regular";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: -0.33px;
    color: #3D3D3D; }
  .rating-items .ratingItem-description {
    font-family: "Inter-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 34px;
    letter-spacing: -0.33px;
    color: #757575; }
  .rating-items #ratingItem-dot {
    margin-left: 5px;
    margin-right: 5px; }
  .rating-items #ratingItem-star, .rating-items #ratingItem-number {
    margin-right: 5px; }

.chooseWay-section {
  background: #1E1B3A;
  position: relative;
  overflow: hidden; }

.chooseWay-back {
  position: absolute;
  bottom: 0px; }

.chooseWay-title {
  padding-top: 180px;
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 70px;
  text-align: center;
  letter-spacing: -1.34px;
  color: #FFFFFF; }

.chooseWay-subtitle {
  padding-top: 26px;
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.47px;
  color: #9F9F9F; }

.chooseWay-blocks {
  margin-top: 126px;
  display: flex;
  justify-content: center; }

.citizen-block {
  position: relative;
  height: fit-content;
  background: #FFFFFF;
  box-shadow: 0px 10px 33px rgba(0, 0, 0, 0.13);
  border-radius: 25px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 50px; }

.rezident-block {
  position: relative;
  height: fit-content;
  background: #FFFFFF;
  box-shadow: 0px 10px 33px rgba(0, 0, 0, 0.13);
  border-radius: 25px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 50px; }

.chooseWay-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -70px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  text-align: center;
  left: 35%; }

.resident-icon {
  background: #65CDC9; }

.citizen-icon {
  background: #B24C67; }

.chooseWay-block-title {
  padding-top: 103px;
  text-align: center;
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 32px;
  color: #1E1B3A; }

.chooseWay-info {
  text-decoration: none;
  outline: none !important;
  border: none;
  background-color: inherit; }

.chooseWay-block-subtitle {
  padding-top: 30px;
  text-align: center;
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 32px;
  color: #1E1B3A; }

.chooseWay-block-line {
  margin: 0 auto;
  margin-top: 10px;
  width: 70px;
  height: 3px;
  background: linear-gradient(90deg, #63CFCA 0%, #C52D51 102.37%); }

ul {
  list-style-type: none; }

.check-icon {
  margin-left: -20px;
  margin-right: 7px; }

.chooseWay-item {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  padding-top: 17px;
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.33px;
  color: #3D3D3D; }

.chooseWayItem-name {
  padding-left: 10px; }

.chooseWay-block-subtitle {
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: normal;
  line-height: 32px; }
  .chooseWay-block-subtitle .chooseWay-lastPrice {
    font-size: 18px;
    text-decoration-line: line-through;
    color: #757575; }
  .chooseWay-block-subtitle .chooseWay-currentPrice {
    font-size: 36px;
    color: #1E1B3A;
    padding-left: 16px;
    padding-right: 16px; }
  .chooseWay-block-subtitle .chooseWay-date {
    font-size: 16px;
    text-align: center;
    color: #757575; }

.chooseWay-button {
  padding-top: 65px;
  padding-bottom: 88px;
  text-align: center; }

.signIn-button {
  border: none;
  outline: none !important;
  font-size: 22px;
  text-align: center;
  padding: 9px 35px; }

.chooseWay-dot {
  padding-right: 8px;
  padding-left: 40px; }

.chooseWay-item-dot {
  margin-top: -15px; }

footer {
  background: #181818; }

.footer-logo {
  padding-top: 40px; }

.footer-title {
  padding-top: 42px;
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.68px;
  color: #FFFFFF; }

.footer-info {
  display: flex;
  justify-content: space-evenly;
  position: relative; }

.footer-links {
  padding-top: 50px;
  text-align: right; }
  .footer-links .footer-link {
    padding-left: 58px;
    font-family: "Inter-Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 46px;
    letter-spacing: -0.68px;
    color: #65CDC9;
    text-decoration: none;
    transition: all, ease, 0.01ms; }
  .footer-links .footer-link:hover {
    text-decoration: none;
    color: #65CDC9; }

.footer-card {
  padding-top: 52px;
  text-align: right; }

#footer-visa {
  padding-right: 16px; }

.footer-rights {
  padding-top: 43px;
  padding-bottom: 27px;
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 46px;
  letter-spacing: -0.68px;
  color: #5F5F5F;
  text-align: left; }

@media (max-width: 1200px) {
  .main-header .header-back {
    position: absolute;
    right: -540px;
    top: 400px; }
  .header-blocks {
    flex-direction: column; }
    .header-blocks .header-leftBlock .header-title {
      font-size: 80px;
      margin-top: -60px; }
    .header-blocks .header-leftBlock .header-description {
      margin-top: 55px;
      font-size: 20px;
      max-width: 485px !important;
      line-height: 32px; }
  .statistics-blocks {
    flex-direction: column-reverse; }
    .statistics-blocks .statistics-leftBlock {
      padding-top: 60px;
      padding-bottom: 81px; }
      .statistics-blocks .statistics-leftBlock .statistics-title {
        max-width: 443px; }
    .statistics-blocks .statistics-rightBlock .item {
      width: 100%; }
  .rating-block {
    right: 48px; }
  .chooseWay-back {
    bottom: 10px;
    left: -250px; }
  .chooseWay-title {
    padding-top: 95px;
    font-size: 80px;
    line-height: 70px; }
  .chooseWay-subtitle {
    font-size: 24px; }
  .chooseWay-icon {
    width: 92px;
    height: 92px;
    top: -46px; }
  .citizenIcon, .residentIcon {
    width: 45px;
    height: 45px; }
  .chooseWay-block-title {
    font-size: 36px;
    padding-top: 59px; }
  .chooseWay-block-subtitle {
    font-size: 24px;
    padding-top: 12px; }
  .chooseWay-item {
    font-size: 14px;
    line-height: 30px; }
  .chooseWay-block-line {
    margin-top: 6px; }
  .chooseWay-item {
    padding-right: 20px;
    padding-top: 10px; }
  .chooseWay-block-subtitle .chooseWay-lastPrice {
    font-size: 14px; }
  .chooseWay-block-subtitle .chooseWay-currentPrice {
    font-size: 24px;
    padding-left: 11px;
    padding-right: 11px; }
  .chooseWay-date {
    font-size: 14px; }
  .chooseWay-icon {
    width: 110px;
    height: 110px;
    top: -60px; }
  .citizenIcon, .residentIcon {
    width: 40px;
    height: 40px; }
  .chooseWay-button {
    padding-top: 68px;
    padding-bottom: 78px; }
  .citizen-block {
    margin-left: 10px;
    margin-right: 0px; }
  .rezident-block {
    margin-right: 10px;
    margin-left: 0px; }
  .footer-links .footer-link {
    padding-left: 28px; } }

@media (max-width: 1024px) {
  .header-blocks {
    flex-direction: column; }
    .header-blocks .header-leftBlock .header-title {
      font-size: 80px;
      margin-top: -60px; }
    .header-blocks .header-leftBlock .header-description {
      margin-top: 55px;
      font-size: 20px;
      max-width: 485px !important;
      line-height: 32px; }
    .header-blocks .header-leftBlock .header-line {
      width: 273px;
      height: 8px; }
    .header-blocks .header-rightBlock .form-container, .header-blocks .header-rightBlock .form-wrapper {
      margin: 0 auto; }
  .form-container-logIn, .form-wrapper-logIn {
    margin: 0 auto; }
    .form-container-logIn .header-rightBlock .form-container-verification, .form-container-logIn .header-rightBlock .form-wrapper-verification, .form-wrapper-logIn .header-rightBlock .form-container-verification, .form-wrapper-logIn .header-rightBlock .form-wrapper-verification {
      margin: 0 auto !important; }
  .statistics-blocks {
    flex-direction: column-reverse; }
    .statistics-blocks .statistics-leftBlock {
      padding-top: 61px;
      padding-bottom: 81px;
      margin-top: 0px; }
      .statistics-blocks .statistics-leftBlock .statistics-title {
        max-width: 443px; }
      .statistics-blocks .statistics-leftBlock .statistics-description {
        max-width: 551px; }
    .statistics-blocks .statistics-rightBlock .item-number {
      font-weight: bold; }
  .chooseWay-icon {
    width: 100px;
    height: 100px;
    top: -50px; }
  .citizenIcon, .residentIcon {
    width: 40px;
    height: 40px; }
  .footer-links {
    padding-top: 17px;
    text-align: right; }
    .footer-links .footer-link {
      padding-right: 0px;
      padding-left: 20px; }
  .footer-card {
    padding-top: 32px;
    text-align: right; } }

@media (max-width: 991px) {
  .rating-block {
    right: 48px; }
  .footer-links {
    padding-top: 17px;
    text-align: left; }
    .footer-links .footer-link {
      padding-right: 20px;
      padding-left: 0px; }
  .footer-card {
    padding-top: 32px;
    text-align: left; } }

@media (max-width: 768px) {
  .header-blocks {
    flex-direction: column; }
    .header-blocks .header-leftBlock .header-title {
      font-size: 65px;
      margin-top: -60px; }
    .header-blocks .header-leftBlock .header-description {
      margin-top: 55px;
      font-size: 20px;
      max-width: 485px !important;
      line-height: 32px; }
    .header-blocks .header-rightBlock {
      margin-top: 70px; }
      .header-blocks .header-rightBlock .form-wrapper {
        margin: 0 auto; }
      .header-blocks .header-rightBlock .form-container {
        margin: 0 auto; }
  .header-scroll {
    margin-bottom: 50px; }
  .statistics-rightBlock {
    padding-top: 72px;
    padding-left: 0px;
    padding-right: 0px; }
    .statistics-rightBlock .item .item-title {
      font-size: 12px; }
    .statistics-rightBlock .item .item-number {
      font-size: 38px; }
    .statistics-rightBlock .item .item-subtitle {
      font-size: 14px; }
    .statistics-rightBlock .item .elections-day, .statistics-rightBlock .item .elections-hour, .statistics-rightBlock .item .elections-minute, .statistics-rightBlock .item .elections-second {
      margin-right: 5px; }
  .chooseWay-blocks .citizen-block {
    margin-top: 0px; }
  .chooseWay-back {
    bottom: 170px; }
  .chooseWay-title {
    padding-top: 95px;
    font-size: 60px;
    line-height: 70px; }
  .chooseWay-subtitle {
    font-size: 20px;
    padding-top: 10px; }
  .chooseWay-icon {
    width: 92px;
    height: 92px;
    top: -46px; }
  .citizenIcon, .residentIcon {
    width: 45px;
    height: 45px; }
  .chooseWay-block-title {
    font-size: 26px;
    padding-top: 60px; }
  .chooseWay-block-subtitle {
    font-size: 22px;
    padding-top: 10px; }
  .chooseWay-item {
    font-size: 18px;
    line-height: 35px; }
  .chooseWay-block-line {
    margin-top: 6px; }
  .chooseWay-item {
    padding-right: 20px;
    padding-top: 10px;
    font-size: 14px; }
  .chooseWay-block-subtitle .chooseWay-lastPrice {
    font-size: 14px; }
  .chooseWay-block-subtitle .chooseWay-currentPrice {
    font-size: 24px;
    padding-left: 11px;
    padding-right: 11px; }
  .chooseWay-date {
    font-size: 14px; }
  .chooseWay-button {
    padding-top: 68px;
    padding-bottom: 78px; }
  .rezident-block {
    margin-right: 10px;
    margin-left: 0px; }
  .citizen-block {
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 112px; }
  .footer-links {
    display: flex;
    flex-direction: column; }
    .footer-links .footer-link {
      padding-right: 20px;
      padding-left: 0px; }
  .footer-card {
    text-align: left; } }

@media (max-width: 767px) {
  .chooseWay-blocks .citizen-block {
    margin-top: 112px; }
  .chooseWay-back {
    bottom: 1600px; } }

@media (max-width: 690px) {
  .main-header .header-back {
    position: absolute;
    right: -930px;
    top: 200px; }
  .header-blocks {
    flex-direction: column; }
    .header-blocks .header-leftBlock .header-title {
      font-size: 55px;
      margin-top: -60px; }
    .header-blocks .header-leftBlock .header-description {
      margin-top: 55px;
      font-size: 20px;
      max-width: 485px !important;
      line-height: 32px; }
  .chooseWay-icon {
    width: 110px;
    height: 110px;
    top: -60px; }
  .chooseWay-back {
    bottom: 1600px; }
  .citizenIcon, .residentIcon {
    width: 50px;
    height: 50px; }
  .rezident-block {
    margin-right: 0px;
    margin-left: 0px; }
  .citizen-block {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 112px; }
  .footer-title {
    padding-top: 26px; }
  .footer-links {
    padding-top: 17px;
    text-align: left;
    flex-direction: column; }
    .footer-links .footer-link {
      padding-right: 30px;
      padding-left: 0px; }
  .footer-card {
    padding-top: 49px;
    text-align: left; }
  .footer-rights {
    padding-top: 12px;
    padding-bottom: 14px;
    font-size: 14px; } }

@media (max-width: 576px) {
  .header-blocks {
    flex-direction: column; }
    .header-blocks .header-leftBlock .header-title {
      font-size: 50px; }
    .header-blocks .header-leftBlock .header-description {
      margin-top: 50px;
      font-size: 20px;
      max-width: 485px !important;
      line-height: 32px; }
    .header-blocks .header-rightBlock {
      margin-bottom: 270px; }
      .header-blocks .header-rightBlock .form-wrapper, .header-blocks .header-rightBlock .form-container {
        width: 80%;
        height: 650px; }
      .header-blocks .header-rightBlock .header-rightBlock {
        margin: 0 auto; }
      .header-blocks .header-rightBlock .form-signIn {
        padding-bottom: 20px; }
      .header-blocks .header-rightBlock .signIn-button {
        padding: 0px;
        width: 50%; }
      .header-blocks .header-rightBlock input, .header-blocks .header-rightBlock select, .header-blocks .header-rightBlock .community-text, .header-blocks .header-rightBlock .submit-button,
      .header-blocks .header-rightBlock .form-terms, .header-blocks .header-rightBlock .signIn-button,
      .header-blocks .header-rightBlock #form-signIn, .header-blocks .header-rightBlock .form-name, .header-blocks .header-rightBlock .register-question, .header-blocks .header-rightBlock .signIn-button {
        width: 90%; }
  .header-scroll {
    display: none; }
  .statistics-rightBlock {
    padding-top: 72px;
    padding-left: 16px !important;
    padding-right: 16px !important; }
    .statistics-rightBlock .statistics-row1, .statistics-rightBlock .statistics-row2, .statistics-rightBlock .statistics-row3 {
      flex-direction: column;
      border-top: none;
      border-bottom: none; }
    .statistics-rightBlock .item {
      width: 315px;
      height: 168px;
      border-top: 1px solid #DDDBDE;
      border-bottom: 1px solid #DDDBDE; }
    .statistics-rightBlock .item-one, .statistics-rightBlock .item-two, .statistics-rightBlock .item-three, .statistics-rightBlock .item-four, .statistics-rightBlock .item-five, .statistics-rightBlock .item-six {
      padding-left: 0px !important;
      border-left: none; }
  #mapid {
    height: 1300px; }
  .rating-block {
    right: 20px; }
  .chooseWay-blocks {
    margin-top: 100px; }
  .chooseWay-back {
    bottom: 1600px; }
  .chooseWay-title {
    padding-top: 50px;
    font-size: 55px;
    line-height: 70px; }
  .chooseWay-subtitle {
    font-size: 20px;
    padding-top: 10px; }
  .chooseWay-icon {
    width: 100px;
    height: 100px;
    top: -50px; }
  .citizenIcon, .residentIcon {
    width: px;
    height: 40px; }
  .chooseWay-block-title {
    font-size: 40px;
    padding-top: 70px; }
  .chooseWay-block-subtitle {
    font-size: 22px;
    padding-top: 15px; }
  .chooseWay-item {
    font-size: 18px;
    line-height: 30px; }
  .chooseWay-block-line {
    margin-top: 6px; } }

@media (max-width: 500px) {
  .form-container-logIn, .form-wrapper-logIn {
    width: 80%; }
  .form-container-verification, .form-wrapper-verification {
    width: 80%; }
  .register-button, .logIn-button {
    line-height: 16px;
    font-size: 14px; } }

@media (max-width: 460px) {
  .rating-block {
    right: 20px;
    width: 90%; }
  .register-button {
    line-height: 15px;
    font-size: 14px; } }

@media (max-width: 430px) {
  .header-blocks {
    flex-direction: column; }
    .header-blocks .header-leftBlock .header-title {
      font-size: 40px; }
    .header-blocks .header-leftBlock .header-description {
      margin-top: 50px;
      font-size: 17px;
      max-width: 485px !important;
      line-height: 32px; }
  .register-question {
    font-size: 12px; }
  .signIn-button {
    padding: 0px;
    font-size: 10px;
    line-height: 0px; }
  #form-signIn {
    padding-bottom: 20px; }
  .ratingItem .ratingItem-title {
    line-height: 20px; }
  .ratingItem .rating-number {
    padding-right: 20px; }
  .ratingItem .rating-img {
    padding-right: 15px; }
  #mapid {
    height: 1350px; }
  .chooseWay-back {
    bottom: 1790px; }
  .chooseWay-title {
    padding-top: 50px;
    font-size: 45px;
    line-height: 70px; }
  .chooseWay-subtitle {
    font-size: 20px;
    padding-top: 10px; }
  .chooseWay-icon {
    width: 100px;
    height: 100px;
    top: -50px; }
  .citizenIcon, .residentIcon {
    width: 40px;
    height: 40px; }
  .chooseWay-block-title {
    font-size: 32px;
    padding-top: 70px; }
  .chooseWay-block-subtitle {
    font-size: 17px;
    padding-top: 12px; }
  .chooseWay-item {
    font-size: 15px;
    line-height: 30px; }
  .chooseWay-block-line {
    margin-top: 6px; }
  .chooseWay-button {
    padding-top: 65px;
    padding-bottom: 88px;
    text-align: center; }
  .signIn-button {
    font-size: 22px;
    padding: 1px 25px;
    font-size: 20px; } }

@media (max-width: 400px) {
  #mapid {
    height: 1450px; } }

@media (max-width: 395px) {
  #mapid {
    height: 1700px; } }

@media (max-width: 375px) {
  .header-navigation {
    padding-top: 24px !important; }
  .header-blocks {
    flex-direction: column; }
    .header-blocks .header-leftBlock .header-title {
      font-size: 40px; }
    .header-blocks .header-leftBlock .header-description {
      margin-top: 26px;
      font-size: 14px;
      max-width: 485px !important;
      line-height: 20px; }
    .header-blocks .header-leftBlock .header-line {
      height: 4px;
      width: 130px; }
  .statistics-rightBlock {
    padding-top: 32px; } }

@media (max-width: 375px) and (max-width: 395px) {
  #mapid {
    height: 1800px; } }

@media (max-width: 375px) {
  .chooseWay-blocks {
    margin-top: 80px; }
  .chooseWay-back {
    bottom: 1790px; }
  .chooseWay-title {
    padding-top: 30px;
    font-size: 40px;
    line-height: 70px; }
  .chooseWay-subtitle {
    font-size: 18px;
    padding-top: 0px; }
  .chooseWay-icon {
    width: 92px;
    height: 92px;
    top: -41px; }
  .citizenIcon, .residentIcon {
    width: 39px;
    height: 44px; }
  .chooseWay-block-title {
    font-size: 36px;
    padding-top: 70px; }
  .chooseWay-block-subtitle {
    font-size: 24px;
    padding-top: 10px; }
  .chooseWay-item {
    font-size: 14px;
    line-height: 30px; }
  .chooseWay-block-line {
    margin-top: 6px; }
  .chooseWay-item {
    padding-right: 20px;
    padding-top: 10px; }
  .chooseWay-block-subtitle .chooseWay-lastPrice {
    font-size: 14px; }
  .chooseWay-block-subtitle .chooseWay-currentPrice {
    font-size: 24px;
    padding-left: 11px;
    padding-right: 11px; }
  .chooseWay-date {
    font-size: 14px; }
  .chooseWay-button {
    padding-top: 34px;
    padding-bottom: 46px; }
  .rezident-block {
    margin-right: 0px;
    margin-left: 0px; }
  .citizen-block {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 112px; }
  .footer-title {
    font-size: 25px; } }

@media (max-width: 360px) {
  .header-leftBlock .header-title {
    font-size: 30px !important; }
  .header-leftBlock #mapid {
    height: 1900px; }
  .chooseWay-title {
    padding-top: 30px;
    font-size: 35px;
    line-height: 70px; }
  .chooseWay-blocks {
    margin-top: 65px; }
  .chooseWay-subtitle {
    font-size: 15px;
    padding-top: 0px; }
  .chooseWay-icon {
    width: 80px;
    height: 80px;
    top: -40px; }
  .chooseWay-block-title {
    font-size: 30px; }
  .chooseWay-block-subtitle {
    font-size: 17px;
    padding-top: 5px; }
  .citizen-block {
    margin-top: 90px; }
  .chooseWay-block-subtitle .chooseWay-lastPrice {
    font-size: 12px; }
  .chooseWay-block-subtitle .chooseWay-currentPrice {
    font-size: 15px;
    padding-left: 8px;
    padding-right: 8px; }
  .chooseWay-block-subtitle .chooseWay-date {
    font-size: 12px; } }

@media (max-width: 350px) {
  #mapid {
    height: 2000px; } }

@media (max-width: 325px) {
  .header-blocks .header-rightBlock {
    margin-bottom: 350px; }
  #mapid {
    height: 2000px; }
  form .register-form-group .form-name {
    font-size: 20px; } }
