// File: _fonts.scss

@font-face{
font-family: "Inter-Regular";
src: url(/fonts/Inter-Regular.otf);
}
$line-background: linear-gradient(90deg, #63CFCA 0%, #C52D51 102.37%);
$inter-font : "Inter-Regular";