// File: _chooseWay.scss

.chooseWay-section{
background: #1E1B3A;
position: relative;
overflow: hidden;
}
.chooseWay-back{
position: absolute;
bottom: 0px;
}
.chooseWay-title{
padding-top:180px;
font-family: $inter-font;
font-style: normal;
font-weight: bold;
font-size: 90px;
line-height: 70px;
text-align: center;
letter-spacing: -1.34px;
color: #FFFFFF;
}
.chooseWay-subtitle{
padding-top:26px;
font-family: $inter-font;
font-style: normal;
font-weight: normal;
font-size: 24px;    
line-height: 38px;
text-align: center;
letter-spacing: -0.47px;
color: #9F9F9F;
}
.chooseWay-blocks{
margin-top: 126px;
display: flex;
justify-content: center;
}
.citizen-block{
position: relative;
height: fit-content;
background: #FFFFFF;
box-shadow: 0px 10px 33px rgba(0, 0, 0, 0.13);
border-radius: 25px;
margin-left: 30px;
margin-right: 30px; 
padding-bottom: 50px; 
}
.rezident-block{
position: relative;
height: fit-content;
background: #FFFFFF;
box-shadow: 0px 10px 33px rgba(0, 0, 0, 0.13);
border-radius: 25px;
margin-left: 30px;
margin-right: 30px;
padding-bottom: 50px; 
}
.chooseWay-icon{
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: -70px;
width: 140px;
height: 140px;
border-radius: 50%;
text-align: center;
left:35%;
}
.resident-icon{
background: #65CDC9;   
}
.citizen-icon{
background: #B24C67;
}
.chooseWay-block-title{
padding-top:103px;
text-align: center;
font-family: $inter-font;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 32px;
color: #1E1B3A;
}
.chooseWay-info{
text-decoration: none;
outline: none !important;
border: none;
background-color: inherit;
}
.chooseWay-block-subtitle{
padding-top: 30px;
text-align: center;
font-family: $inter-font;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 32px;
color: #1E1B3A;
}
.chooseWay-block-line{
margin: 0 auto;
margin-top: 10px;
width: 70px;
height: 3px;
background: $line-background;
}
ul{
list-style-type: none;
}
.check-icon{
margin-left: -20px;
margin-right: 7px;
}
.chooseWay-item{
display: flex;
flex-direction: row;
padding-right: 10px;
padding-top: 17px;
font-family: $inter-font;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 32px;
letter-spacing: -0.33px;
color: #3D3D3D;
}
.chooseWayItem-name{
padding-left: 10px;
}
.chooseWay-block-subtitle{
font-family: $inter-font;
font-style: normal;
font-weight: normal;
line-height: 32px;
.chooseWay-lastPrice{
font-size: 18px;
text-decoration-line: line-through;
color: #757575;
} 
.chooseWay-currentPrice{
font-size: 36px;
color: #1E1B3A;
padding-left: 16px;
padding-right: 16px;
}  
.chooseWay-date{
font-size: 16px;
text-align: center;
color: #757575;
}
}
.chooseWay-button{
padding-top: 65px;
padding-bottom: 88px;
text-align: center;
}
.signIn-button{
border: none;
outline:none !important;
@extend %button;
font-size: 22px;
text-align: center;
padding: 9px 35px;
}

.chooseWay-dot{
padding-right: 8px;
padding-left: 40px;
// margin-top: -20px;
}
.chooseWay-item-dot{
margin-top: -15px;
}