// File: _footer.scss

footer{
background: #181818;
}
.footer-logo{
padding-top:40px;
}
.footer-title{
padding-top: 42px;
font-family: $inter-font;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 40px;
letter-spacing: -0.68px;
color: #FFFFFF;
}
.footer-info{
display: flex;
justify-content: space-evenly;
position: relative;
}
.footer-links{
padding-top: 50px;
text-align: right;
.footer-link{
padding-left: 58px;
font-family: $inter-font;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 46px;
letter-spacing: -0.68px;
color: #65CDC9;
text-decoration: none;
transition: all, ease, 0.01ms;
}
.footer-link:hover{
text-decoration: none;
color: #65CDC9;
}}
.footer-card{
padding-top:52px;
text-align: right;
}
#footer-visa{
padding-right: 16px;   
}
.footer-rights{
padding-top:43px;
padding-bottom: 27px;
font-family: $inter-font;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 46px;
letter-spacing: -0.68px;
color: #5F5F5F;
text-align: left;
}