// File: _form.scss

%button{
background: #B24C67;
border-radius: 5px;   
font-family: $inter-font;
font-style: normal;
font-weight: 600;
line-height: 46px;
color: #FFFFFF;
letter-spacing: -0.68px;
border: none;
text-decoration: none;
}
header{background-color: #1E1B3A;
overflow: hidden;}
.main-header{
height: 100%;
position: relative;
.header-back{
position: absolute;
right: -250px;
bottom: 0px;
}
.header-navigation{
display: flex;
justify-content: space-between;
padding-top:56px;
margin-left: 0px;
margin-right: 0px;
.lang-switch{
padding-top:4px; 
font-family: $inter-font;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.33px;
color: #77EEDF; 
}}}

.header-blocks{
.header-leftBlock{
margin-right: 95px;
padding-top: 150px;
}
.header-title{
font-family: $inter-font;
font-style: normal;
font-weight: 600;
font-size: 70px;
line-height: 120%;
padding-right:50px;
color: #FFFFFF;
}
.header-line{
margin-top: 16px;
background: $line-background;
width: 270px;
height: 8px;
}
.header-description{
margin-top: 67px;
font-family: $inter-font;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 40px;
color: #FFFFFF;
}}
.header-scroll{
margin-top: 203px;
margin-bottom: 98px;
}

.header-rightBlock{
position: relative;
padding-bottom: 500px;
margin-top: 50px;
}
form{
position: relative;
}
.register-form-group, .logIn-form-group{
left: 0px;
right: 38px;
top: 32px;
bottom: 0px;
background: #FFFFFF;
border-radius: 45px;
flex-direction: column;
z-index: 50;
padding-right: 35px;
padding-left: 35px;
padding-top: 29px;
padding-bottom: 0px;
font-size: 18px;
.form-name{
font-family: $inter-font;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 40px;
letter-spacing: -1.34px;
color: #3D3D3D;
}

option{
font-family: $inter-font;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
color: #757575;
}
.form-username{
margin-top: 25px;
}

.form-community{
margin-top: 35px;
width: 328px;
border-bottom: 1px solid #DDDBDE;
text-decoration: none;
border-top: none;
border-left: none;
border-right: none;
font-family: $inter-font;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
color: #757575 !important;
}

.community-text{
padding-top: 10px;
font-family: $inter-font;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
letter-spacing: -0.33px;
color: #757575;
}
.form-email{
margin-top: 33px;
}
.form-password{
margin-top: 33px;  
}
#form-terms{
margin-top: 20px; 
margin-left: 0px;
margin-right: 5px;
border: none;
text-decoration: none;
background-color: inherit;
font-size: 16px;
}
.terms-blue{
color:#65CDC9;
}
.submit-button{
border: none;
outline:none;        
margin-top: 19px;
width: 328px;
height: 48px;
font-size: 18px;
@extend %button;
}
.register-question{
padding-top: 32px;
font-size: 16px;
text-decoration: none;
transition: all, ease, 0.01ms;
color: #757575; 
}
.register-question:hover{
text-decoration: none;
color: #757575; 
}

#signInForm{
display: none;
}
.signIn-button{
margin-top: 17px;
border: none;
outline:none;
font-family: $inter-font;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 26px;
text-align: center;
letter-spacing: -0.68px;
color:#757575;
padding: 7px 30px;
text-decoration: none;
border: none;
background-color: #ffffff;
border: 1px solid #DDDBDE;
border-radius: 5px;
}
#form-signIn{
display: flex;
justify-content: space-between;
flex-direction: row;
}}
.form-wrapper{
position: absolute;
left: 38px;
right: 0px;
top: 0px;
bottom: 48px;
background: linear-gradient(90deg, #63CFCA 24.26%, #C52D51 102.37%);
border-radius: 45px;
width: 400px;
height: 650px;
}
.form-container{
position: absolute;
left: 0px;
right: 38px;
top: 32px;
bottom: 0px;
background: #FFFFFF;
border-radius: 45px;
height: 650px;
width: 400px;
padding-bottom:60px;
}
textarea:focus, input:focus{
outline: none;
}
input:active{
background-color: #ffffff;
}
input{
border-bottom: 1px solid #DDDBDE;
text-decoration: none;
border-top: none;
border-left: none;
border-right: none;
width: 328px;
padding-bottom: 6px;
}
.form-terms-text{
font-family: $inter-font;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #757575;
display: flex;
flex-direction: row;
}
#terms{
padding-top: 17px;
}
.close-button{
position: absolute;
width: 42px;
height: 42px;
left: 370px;
top: -8px;
font-size: 16px;
background: #FFFFFF;
border-radius: 50px;
text-decoration: none;
border: none;
}



/*logIn-form*/
.logIn-form-group{
left: 0px;
right: 38px;
top: 32px;
bottom: 0px;
background: #FFFFFF;
border-radius: 45px;
flex-direction: column;
z-index: 50;
padding-right: 35px;
padding-left: 35px;
padding-top: 29px;
padding-bottom: 0px;
}
.form-rememberMe{
font-family: $inter-font;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #757575;
}
#form-remember{
margin-top: 20px; 
margin-left: 0px;
margin-right: 5px;
border: none;
text-decoration: none;
background-color: inherit;
}
.logIn-button{
margin-top: 31px;
width: 134px;
height: 48px;
font-size: 18px;
@extend %button;
}
.register-button{
margin-top: 31px;
height: 48px;
font-family: $inter-font;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 46px;
text-align: center;
letter-spacing: -0.68px;
color: #757575;
border: none;
text-decoration: none;
background-color: #ffffff;
border: 1px solid #DDDBDE;
border-radius: 5px;
padding-left: 25px;
padding-right: 25px;
}
#form-logIn{
display: flex;
justify-content: space-between;
}
.form-wrapper-logIn{
position: absolute;
left: 38px;
right: 0px;
top: 0px;
bottom: 48px;
background: linear-gradient(90deg, #63CFCA 24.26%, #C52D51 102.37%);
border-radius: 45px;
width: 400px;
height: 390px;
}
.form-container-logIn{
position: absolute;
left: 0px;
right: 38px;
top: 32px;
bottom: 0px;
background: #FFFFFF;
border-radius: 45px;
height: 390px;
width: 400px;
}
.form-name-logIn{
font-family: $inter-font;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
letter-spacing: -1.34px;
color: #3D3D3D;
}

//verification
#verificationForm{
display: none;
}
.form-wrapper-verification{
position: absolute;
left: 38px;
right: 0px;
top: 0px;
bottom: 48px;
background: linear-gradient(90deg, #63CFCA 24.26%, #C52D51 102.37%);
border-radius: 45px;
width: 400px;
height: 350px;
}
.form-container-verification{
position: absolute;
left: 0px;
right: 38px;
top: 32px;
bottom: 0px;
background: #FFFFFF;
border-radius: 45px;
height: 350px;
width: 400px;
padding-bottom:60px;
}
.register-form-group{
.verification-text{
margin-top: 20px;
font-family: $inter-font;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
color: #757575;
}
.verification-question{
margin-top: 20px;
font-family: $inter-font;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 46px;
letter-spacing: -0.68px;
color: #757575;
}
#send-again{
color: #65CDC9;
text-decoration: none;
}
.goHome-button{
margin-top: 25px;
margin-bottom: 30px;
border:none;
text-decoration: none;
outline: none;
width: 174px;
height: 48px;
background: #65CDC9;
border-radius: 5px;
font-family: $inter-font;
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 46px;
text-align: center;
letter-spacing: -0.68px;
color: #FFFFFF;
}}

#signInForm{
display: none;
}



//   .multi-selectbox{
//     box-sizing: border-box;
//     position:relative;
//     overflow:hidden;
//     margin: 15px auto;

//     width:100%;
// height: 150px;
// background: #FEFFFF;

//   }
//   .selectbox-scrollable{
//     overflow-y:scroll; 
//     position:absolute;
//     padding:0 7px 0 0;
//     width: calc(100% + 17px);
//     height:100%;
//     border:0;
//   }
//   .selectbox-scrollbar-rail { 
//     position:absolute;
//     overflow:auto;
//     top:0px;
//     right:0px;
//     bottom:0;
//     z-index:2;
//     background: #FEFFFF;
//     width:5px;
//     border-radius:0px;
//   }
//   .selectbox-scrollbar{
//     cursor:n-resize;
//     position:absolute;
//     overflow:auto;
//     top:0px;
//     right:0px;
//     z-index:3;
//     background:#444;
//     width:5px;
//     border-radius:px;
//   }


.select-box{
display:flex;
width: 100%;
flex-direction: column;
}
.selected{
// padding-bottom: 8px;
order: 0;
position: relative;
margin-bottom: 3px;
font-family: $inter-font;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
color: #757575;
}
.selected::after{
margin-top: 5px;
content: " ";
background: url('/img/select-down.svg');
background-size: contain;
background-repeat: no-repeat;
position: absolute;
height:100%;
width: 20px;
right: 0px;
transition: all, 0.4s;
}
.select-box{
padding-top: 40px;
padding-bottom: 8px;
border-bottom: 1px solid #DDDBDE;

.options-container{
background-color: #ffffff;
max-height: 0px;
width: 100%;
opacity: 0;
border-radius: 8px;
overflow: hidden;
transition: all, 0.4s;
order: 1;
} 
.options-container::-webkit-scrollbar{
width: 10px;
height: 223px;
background: #F5F5F5;
border-radius: 6px;
}
.options-container::-webkit-scrollbar-thumb{
width: 10px;
height: 5px;
background: #65CDC9;
border-radius: 6px;
}
.option{
padding-top: 5px;
padding-bottom: 5px;
font-size: 16px;
color: #3D3D3D;
cursor: pointer;
}
.option:hover{
background-color: #63CFCA;
}
label{
cursor: pointer;
}
.select-item{
display: none;
}
.active{
max-height: 296px;
opacity: 1;
overflow-y: scroll;
}
.active + .selected::after{
transform: rotateX(180deg);
margin-top: -13px;
}
}

